// css reset
@import 'normalise';

//web fonts
// $font: 'Roboto', sans-serif;

//palette
$background-colour: #EEEEEE;
$text-colour: rgba(black, 0.7);

$main_colour: #689F38;
$main_lighter: #7CB342;
$main_darker: #558B2F;

$accent_colour: #FFFF00;

//spacing
$gutter: 15px;

@mixin button-styles($colour, $textColour){
  box-sizing: border-box;
  height: 38px;
  max-width: 200px;
  padding: 0 30px;
  color: rgba($textColour, 0.7);
  background-color: $colour;
  font-size: 0.8em;
  text-shadow: 0 1px 3px rgba(black, 0.2);
  line-height: 38px;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid $colour;
  border-radius: 2px;
  @include card(1);
  transition: all .3s ease;
  &:hover, &:focus{
    outline: 0;
    @include card(3);
  }
}

//shadows - from https://css-tricks.com/snippets/sass/material-shadows-mixin/
//$depth takes a number 1 - 5 for the depth
@mixin card($depth){
	@if $depth < 1{
		box-shadow: none;
	} @else if $depth > 5{
		@warn "invalid $depth for mixin 'card'";
	} @else {
		box-shadow: bottom-shadow($depth), top-shadow($depth);
	}
}

//use these two functions in mixin above
@function top-shadow($depth){
	$primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
	$blur: nth(1.5 3 10 14 19, $depth) * 4px;
	$color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));

	@return 0 $primary-offset $blur $color;
}

@function bottom-shadow($depth){
	$primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
	$blur: nth(1.5 3 3 5 6, $depth) * 4px;
	$color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));

	@return 0 $primary-offset $blur $color;
}

body {
  background-color: $background-colour;
  font-family: 'Roboto', sans-serif;
  color: $text-colour;
  -webkit-font-smoothing: antialiased;
}

.container{
  padding: 0 5px;
  max-width: 960px;
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, input, textarea, button{
  font-weight: 400;
}

#header-container-outer{
  @include card(1);
}

#header-container, #sub-header-container{
  background-color: $main_colour;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

#sub-header-container{
  background-color: $main_darker;
}

.header{
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: $gutter;
  background-color: $main_colour;
  color: white;
  text-shadow: 0 1px 3px rgba($main_colour, 0.3);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  button{
    @include button-styles($accent_colour, black);
  }
  h1, h3{
    margin: 0;
    display: inline-block;
  }
}

.sub-header{
  background-color: $main_darker;
  padding: 0 $gutter;
}

.sub-header.logged-out{
  //log out content/styles here
}

form{
  @include card(1);
  background-color: white;
  padding: 0px $gutter $gutter $gutter;
  display: flex;
  flex-direction: column;
  margin: $gutter 0;
  input, textarea{
    margin: $gutter 0;
    padding: 10px;
    border: none;
    border-bottom: 1px solid lighten($text-colour, 30%);
    outline: none;
    &:focus{
      border-color: $text-colour;
    }
  }
  textarea{
    height: 200px;
    border: 1px solid lighten($text-colour, 30%);
  }
  button{
    @include button-styles($main_darker, white);
  }
}

.commendation{
  @include card(1);
  margin-bottom: $gutter;
  background-color: white;
  .commendation-header{
    background-color: $main_colour;
    button{
      @include button-styles(white, $text-colour);
      &:first-child{
        margin-right: $gutter;
      }
    }
  }
  p{
    padding: 0 $gutter;
    &:last-child{
      padding-bottom: $gutter;
    }
  }
}

.hidden{
  display: none;
}
